* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

h1 {
  color: red;
}

.top-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.top-menu nav {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  padding: 0 30px;
}
.top-menu nav .logo {
  width: 400px;
  font-weight: 900;
  font-size: 20px;
}
.top-menu nav ul {
  display: flex;
  justify-content: center;
  width: 450px;
  list-style: none;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.top-menu nav ul li {
  padding: 0, 20px;
}
.top-menu nav ul li a {
  color: darkcyan;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}

.content-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.content-section .content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  padding: 0 30px;
  margin-top: 30px;
}
.content-section .content-container button {
  width: 150px;
  margin-top: 5px;
}
.content-section .list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  padding: 0 30px;
  margin-top: 30px;
  row-gap: 10px;
}
.content-section .list-container .list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 550px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.content-section .list-container .th {
  font-weight: 700;
  font-size: 16px;
  color: black;
}
