* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

h1 {
    color: red;
}

.top-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;

    nav {
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        width: 100%;
        padding: 0 30px;

        .logo {
            width: 400px;
            font-weight: 900;
            font-size: 20px;
        }

        ul {
            display: flex;
            justify-content: center;
            width: 450px;
            list-style: none;
            column-gap: 20px;

            li {
                padding: 0, 20px;

                a {
                    color: darkcyan;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 14px;
                    text-decoration: none;
                }
            }
        }
    }
}

.content-section {
    display: flex;
    justify-content: center;
    width: 100%;

    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1280px;
        width: 100%;
        padding: 0 30px;
        margin-top: 30px;

        button {
            width: 150px;
            margin-top: 5px;
        }

    }

    .list-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1280px;
        width: 100%;
        padding: 0 30px;
        margin-top: 30px;
        row-gap: 10px;

        .list-item {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 550px;
            column-gap: 20px;
        }

        .th {
            font-weight: 700;
            font-size: 16px;
            color: black
        }

    }


}